
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.active{
    color: white;
}
body{
    background: #E9F5FF;
}
.showcase,
header{
    background: rgba(19, 145, 206, 0.7);
}
header nav{
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
}
nav ul li a{
    display: inline-block;
    margin-left: 32px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #25468A;
}
header .nav_btn{
    padding: 9px 18px;
    background: #FFFFFF;
    border-radius: 24px;
    color: #14274C;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.navbar_list li ::after{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: black;
    transition: width .2s;
}
header nav .tagi a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color: #fff;
    cursor: pointer;
}
header .nav_btn:hover{
    cursor: pointer;
}

/* Header end */


/* Showcase start */

.showcase .container{
    display: flex;
    justify-content: space-between;
    padding-top: 98px;
}
.showcase .hero_title{
    width: 46%;
}
.hero_title h1{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 92px;
    line-height: 108px;
    color: #25468A;
}
.hero_title h1 + p{
    margin-top: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #3B4A6B;
}
.hero_title h1 + p + p{
    margin-top: 42px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #3B4A6B;
}
.showcase img{
    padding-bottom: 49px;
}
.hero_title .hero_title_btn{
    display: inline-block;
    margin-top: 24px;
    padding: 15px 56.26px;
    border-radius: 26px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #3B4A6B;
    position: relative;
    transition:  .8s;
    overflow: hidden; 
    z-index: 2;   
    background-color: #e0cd1c;
    border: 2px solid #e0cd1c;
}
.hero_title_btn:hover {
    background-color: transparent;
    border: 2px solid #3B4A6B;
}

/* showcase end */


/* Next section */

.boxs .al-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: 0.3s;
}
.card{
    margin-top: 176px;
    width: 352px;
    background: #1391CE;
    transition: .2s;
    border-radius: 8px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.card:hover{
    cursor: pointer;
}
.card p{
    padding: 69px 34px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.card_txt{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_txt p{
    margin-top: 55px;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 36px;
    line-height: 121.3%;
    letter-spacing: 0.01em;
    color: #1391CE;
}
.chiziq{
    width: 160px;
    height: 8px;
    background:  #F7BA0E;
    margin-top: 15.83px;
}

/* Next section */


.main_items{
    display: flex;
    margin-top: 96px;
}
.main_items_info{
    margin-left: 112px;
    flex-basis: 48%;
    width: 48%;
    display: flex;
    flex-direction: column;
    
}
.main_items_info h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 134.3%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #25468A;
}
.main_items_info h3 + p{
    margin-top: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 134.3%;
    letter-spacing: 0.01em;
    color: #1391CE;
}
.main_items_info h3 + p + p{
    margin-top: 32px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 134.3%;
    color: #4F4F4F;
    letter-spacing: 0.02em;
}
.main_items_2{
    margin-top: 128px;
    display: flex;
 
}
.main_items_info_2{
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
    width: 48%;
}
.main_items_info_2 h3{
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 134.3%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #25468A;
}
.main_items_info_2 h3 + p{
    margin-top: 16px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    line-height: 134.3%;
    letter-spacing: 0.01em;
    color: #1391CE;
}
.main_items_info_2 h3 + p + p{
    margin-top: 32px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 134.3%;
    color: #4F4F4F;
    letter-spacing: 0.02em;
}
.output{
    margin-top: 24px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    line-height: 134.3%;
    letter-spacing: 0.01em;
    color: #1391CE;
}
.item_2{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.item_2 li{
    margin-top: 11px;
    padding-left: 32px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 134.3%;
    letter-spacing: 0.02em;
    color: #4F4F4F;
    cursor: pointer;
}
.item_2 li::before{
    content: url(../img/Vector.svg);
   margin-right: 10px;
}
.list li:hover::before,
.item_2 li:hover::before{
    transform: scale(1.1);
    transition-duration: 1s;
    animation-name: color-change;
    animation-duration: 1s;
}
.list li::before{
    content: url(../img/Vector.svg);
    margin-right: 10px;
}



/* Footer start */

footer{
    margin-top: 64px;
    background: #1391CE;
}
.footer_chiziq{
    display: inline-block;
    margin-top: 28px;
    width: 100%;
    height: 1px;
    background: #ffffff;
}
.footer_left{
    padding: 21px 0 81px;
    display: flex;
    justify-content: space-between;
}
span{
    color: #fff;
    font-weight: bold;
}
.footer_left div + p,
.footer_left > div{
    font-weight: 400;
    font-size: 16px;
    line-height: 134.3%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #302E2F;
}
/* Footer end */